@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/functions';

@import 'base/base';
@import 'base/animations';
@import 'base/topography';
@import 'base/utilities';

@import 'layout/navbar';
@import 'layout/header';

@import 'pages/home';

@import 'components/button';
@import 'components/card';
@import 'components/grid';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Noto+Sans:wght@400;700&family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Noto+Sans:wght@400;700&family=Open+Sans:wght@300;400;600&display=swap');

.center-text {
  margin-top: 1.5rem;
  text-align: center;
}
#me {
  font-size: 55px;
}
.row {
  // width: 100vw;
  margin-left: 2rem;
  margin-right: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__inner-div {
    text-align: center;
    margin: 0 auto;
  }
  &__inner-div2 {
    display: inline-block;
    padding: 30px;
    width: auto;
  }
  &__three-grid {
    margin: 0 auto;
    margin-top: 1rem;
    margin-right: 1rem;
    box-shadow: 3px 5px 5px rgba($main-color, 0.5);
    padding: 25px;
    border-radius: 0.5rem;
    height: auto;
    width: 350px;
  }
}
@media all and (max-width: 893px) {
  .row {
    &__inner-div {
      width: 100%;
    }
    &__three-grid {
      width: 100%;
      margin: 0;
    }
  }
}
