.header {
  position: relative;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.507),
      rgba(0, 0, 0, 0.507)
    ),
    url(./blue-wall.jpg);
  background-size: cover;
  height: 60rem;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 3rem;
  &__textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.textbox__header {
  font-family: 'Noto Sans', sans-serif;
  font-size: 6.5rem;
  font-weight: 700;
  color: $main-color;
  text-transform: uppercase;
  &-secondary {
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: $main-color;
    margin-bottom: 1em;
  }
}
// // @media screen and(max-width: 500px) {
// //   .textbox__header{
// //     font-size: 4.5rem;
// //     &-secondary{
// //       font-size: 1rem;
// //     }
// //   }
  
// }
