.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #292d2b;
  box-shadow: 0 10px 7px rgba($main-color, 0.5);
  &__header {
    font-size: 3.7rem;
    margin-left: 0.5em;
    color: $main-color;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }
  &__navigation {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  }
}
.navigation {
  list-style-type: none;
  text-decoration: none;
  &__link {

    list-style: none;
    display: inline-block;
    &:not(:first-child) {
      margin-left: 1em;
    }
    &:last-child {
      margin-right: .7em;
    }
  } 
}
a{
  font-size: 1.7rem;
}
@media screen and (max-width: 600px) {
  .nav{
    flex-direction: column;
    align-items: center;
    // justify-content: center;
  }
  .header {
    margin-left: 0;
    font-size: 2rem;
  }
  a {
    font-size: 2rem;
    padding: 0.4rem;
  }
  .navigation{
    margin-left: 3em;
  }
}