@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Noto+Sans:wght@400;700&family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Noto+Sans:wght@400;700&family=Open+Sans:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0; }

ul li {
  display: inline-block;
  list-style: none;
  color: white; }

a {
  text-decoration: none;
  display: inline-block;
  color: #7899d4;
  padding: 1rem; }
  a:hover {
    background-color: #7899d4;
    color: white; }

.header-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #7899d4, black);
  -webkit-background-clip: text;
  color: transparent; }

.paragraph {
  font-weight: 500;
  line-height: 2.3rem;
  font-size: 1.5rem;
  margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #292d2b;
  box-shadow: 0 10px 7px rgba(120, 153, 212, 0.5); }
  .nav__header {
    font-size: 3.7rem;
    margin-left: 0.5em;
    color: #7899d4;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 700; }
  .nav__navigation {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600; }

.navigation {
  list-style-type: none;
  text-decoration: none; }
  .navigation__link {
    list-style: none;
    display: inline-block; }
    .navigation__link:not(:first-child) {
      margin-left: 1em; }
    .navigation__link:last-child {
      margin-right: .7em; }

a {
  font-size: 1.7rem; }

@media screen and (max-width: 100px) {
  .header {
    font-size: 2rem; }
  a {
    font-size: 2rem;
    padding: 0.4rem; } }

.header {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.507)), url(./blue-wall.jpg);
  background-size: cover;
  height: 60rem;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 3rem; }
  .header__textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.textbox__header {
  font-family: 'Noto Sans', sans-serif;
  font-size: 6.5rem;
  font-weight: 700;
  color: #7899d4;
  text-transform: uppercase; }
  .textbox__header-secondary {
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: #7899d4;
    margin-bottom: 1em; }

#me {
  font-size: 5.5rem;
  background-image: linear-gradient(to right, #7899d4, black);
  -webkit-background-clip: text;
  color: transparent; }

.btn {
  font-size: 1.5rem;
  font-family: 'Noto Sans', sans-serif;
  padding: 0.5em;
  border: 1px solid #7899d4;
  -webkit-border: 1px solid #7899d4;
  text-transform: uppercase;
  -webkit-text-transform: uppercase;
  text-decoration: none;
  -webkit-text-decoration: none;
  color: #7899d4; }
  .btn:link {
    font-family: 'Noto Sans', sans-serif;
    padding: 0.5em;
    border: 1px solid #7899d4;
    text-transform: uppercase;
    text-decoration: none;
    color: #7899d4; }
  .btn:hover {
    background-color: #7899d4;
    color: white; }
  .btn:active {
    background-color: #7899d4;
    color: white; }

.row {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto; }
  .row__three-grid {
    box-shadow: 3px 5px 5px rgba(120, 153, 212, 0.5);
    padding: 2.5em;
    border-radius: 5px; }

.grid-wh {
  width: 30%; }

@media only screen and (max-width: 950px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column; }
  .grid-wh {
    width: 100%;
    margin-bottom: 3em; } }

.center-text {
  margin-top: 1.5rem;
  text-align: center; }
